/* style.css */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: darkblue;
    font-size: 36px;
}

h2 {
    color: #333333;
    font-size: 28px;
}

p {
    color: #555555;
    font-size: 18px;
    margin: 20px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
    text-align: left;
    display: inline-block;
}

img {
    width: 300px;
    height: auto;
    margin-top: 20px;
}
